<section class="row">
  <div class="twelve columns search">
    <h3 ng-show="param.fq">Filtering by Topic: {{param.fq}}</h3>
    <h3>Enter a search term here or just browse</h3>
    <input ng-model="param.filter" ng-change="updateFilter(param.filter)">
  </div>
</section>
<section class="row" infinite-scroll="requestMoreItems()" infinite-scroll-distance="10">
  <div class="two columns" ng-repeat="column in columns">
    <div class="flow" ng-repeat="image in column.images" ng-click="goTo(image)">
      <img ng-src="{{image.descriptiveNonRepeating.online_media.media[0].thumbnail}}" alt="{{image.descriptiveNonRepeating.title.content}}">
    </div>
  </div>
</section>
