<section class="hero">
  <div class="row">
    <div class="four columns introText">
      <p><strong>Welcome to the Luce Foundation Center, the Smithsonian American Art Museum's home for... everything else!</strong> The Luce Center Foundation has more than 3,000 paintings, sculptures, miniatures, craft objects, and folk art pieces on display and many, many more in its archives.</p>
    </div>
  </div>
  <div class="floatRight rightMargin">
    <p>Title of artwork. Link to object page.</p>
  </div>
</section>
<section id="tour">
  <div class="row">
    <h1>Take a tour</h1>
    <div class="four columns alpha">
      <img src="images/Placer-Mining.jpg">
      <h3>Mustaches everywhere!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum tristique ligula sit amet mollis. Vestibulum quis feugiat magna. Donec semper, purus ut fermentum pulvinar, tellus mauris molestie mauris, ac accumsan ante est eget urna. Fusce imperdiet id nisi quis lobortis. </p>
      <div class="medium info btn"><a href="#">Take this tour</a></div>
    </div>
    <div class="four columns">
      <img src="images/Placer-Mining2.jpg">
      <h3>We have fruit</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum tristique ligula sit amet mollis. Vestibulum quis feugiat magna. Donec semper, purus ut fermentum pulvinar, tellus mauris molestie mauris, ac accumsan ante est eget urna. Fusce imperdiet id nisi quis lobortis. </p>
      <div class="medium info btn"><a href="#">Take this tour</a></div>
    </div>
    <div class="four columns">
      <img src="images/Placer-Mining.jpg">
      <h3>Where are you from?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum tristique ligula sit amet mollis. Vestibulum quis feugiat magna. Donec semper, purus ut fermentum pulvinar, tellus mauris molestie mauris, ac accumsan ante est eget urna. Fusce imperdiet id nisi quis lobortis. </p>
      <div class="medium info btn"><a href="#">Take this tour</a></div>
    </div>
  </div>
</section>
<section id="browse">
  <div class="row">
    <div class="twelve columns paddingBottom">
      <h1>Don't want a tour? Dive right in!</h1>
      <div class="medium info btn"><a href="#">Browse the collection</a></div>
    </div>
    <div class="four columns alpha">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="four columns">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="four columns">
      <img src="images/Placer-Mining.jpg">
    </div>
  </div>
</section>
<section id="collect">
  <div class="row">
    <div class="twelve columns paddingBottom">
      <h1>Your Collection</h1>
    </div>
    <div class="">
      <p>You can create your own collection here. Click on the 'add to collection' button as your browse. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae odio dapibus, ornare risus et, rhoncus risus. Suspendisse cursus nisi vel dui tincidunt convallis. Mauris at augue facilisis, luctus ante non, congue nibh. Ut sodales eget nibh a tincidunt.</p>
    </div>
    <div class="four columns alpha">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="four columns">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="four columns">
      <img src="images/Placer-Mining.jpg">
    </div>
  </div>
</section>
<section id="favorite">
  <div class="row">
    <div class="twelve columns paddingBottom">
      <h1>Play art!</h1>
    </div>
    <div class="six columns alpha">
      <h1>LUCEmash</h1>
      <img src="images/Placer-Mining.jpg">
      <div class="medium info btn"><a href="http://shannonvturner.com/luce/luce_match">Play now!</a></div>
    </div>
    <div class="six columns">
      <h1>Luce ArtID</h1>
      <img src="images/Placer-Mining.jpg">
      <div class="medium info btn"><a href="http://shannonvturner.com/luce/luce_zoom">Play now!</a></div>
    </div>
  </div>
</section>
