<section class="head">
  <div class="row">
    <div class="twelve columns">
      <h1>Object name</h1>
      <!--<nav class="nine columns push_three">
        <div class="three columns alpha nav">
          <a href="#tour">Take a tour</a>
        </div>
        <div class="three columns nav">
          <a href="#browse">Browse</a>
        </div>
        <div class="three columns nav">
          <a href="#collect">Your Collection</a>
        </div>
        <div class="three columns nav">
          <a href="#favorite">Play Art!</a>
        </div>
      </nav>-->
    </div>
  </div>
</section>
<section id="#object">
  <img src="images/Construction-of-a-Dam-1_2@2x.jpg">
  <div class="row">
    <div class="six columns push_six">
      <div class="medium info btn icon-right entypo icon-plus"><a href="#">Add to Your Collection</a></div>
      <div class="medium info btn icon-right icon-arrow-right"><a href="#">Share</a></div>
      <div class="medium info btn icon-right entypo icon-heart"><a href="#">Favorite</a></div>
    </div>
  </div>
</section>
<section id="objectMeta">
  <div class="row">
    <div class="eight columns">
      <h1>Object Name</h1>
      <h2><a href="#">Artist Name</a></h2>
      <h3>Year</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique urna id lacus vulputate cursus. Curabitur a malesuada odio. Nam pharetra iaculis dignissim. Quisque rhoncus malesuada volutpat. Mauris in tortor id augue commodo eleifend. Morbi adipiscing diam at lacus eleifend, a condimentum orci suscipit. Phasellus sit amet orci sed massa ornare dapibus. Cras et tellus rhoncus nibh </p>
      <h3>Location</h3>
    </div>
    <div class="four columns">
      <a href="#">
        <div class="moreResources">
          <p>See similar art on display <i class="icon-right-thin"></i></p>
        </div>
      </a>
    </div>
    <div class="four columns">
      <a href="#">
        <div class="moreResources">
          <p>See similar art at other Luce Centers <i class="icon-right-thin"></i></p>
        </div>
      </a>
    </div>
    <div class="four columns">
      <a href="#">
        <div class="moreResources">
          <p>See similar art in archives <i class="icon-right-thin"></i></p>
        </div>
      </a>
    </div>
  </div>
</section>
<section id="collectObj">
  <div class="row">
    <div class="twelve columns paddingBottom">
      <h1>Your Collection</h1>
    </div>
    <div class="three columns alpha">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="three columns">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="three columns">
      <img src="images/Placer-Mining.jpg">
    </div>
    <div class="three columns">
      <img src="images/Placer-Mining.jpg">
    </div>
  </div>
</section>
